
/*
body

The body element represents the main content of the document.

Styleguide 0.3.37
*/
body
{
	margin 						:0;
	padding 					:0;
	font-weight					:400;
	text-rendering 				:optimizeLegibility;
	height 						:100%;
	color 						:$core-body-copy-color;
}

/*
article

Represents a section of a page that consists of a composition that forms an independent part of a document, page, or site. This could be a forum post, a magazine or newspaper article, a Web log entry, a user-submitted comment, or any other independent item of content.

Markup:
<article>
	<header>
		<h4><a href="#comment-2" rel="bookmark">Comment #2</a>
		by <a href="http://example.com/">Jack Osborne</a></h4>
		<time datetime="2007-08-29T13:58Z">August 29th, 2007 at 13:58</time>
	</header>
	<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
</article>

Styleguide 0.3.38
*/
article
{

}

/*
aside

Represents a section of a page consisting of content that is tangentially related to the content around the aside element, and which could be considered separate from that content. Such sections are often represented as sidebars in printed typography.

Markup:
<aside>
	<h2>Blogroll</h2>
		<ul>
		<li><a href="#">My Friend</a></li>
		<li><a href="#">My Other Friend</a></li>
		<li><a href="#">My Best Friend</a></li>
	</ul>
</aside>

Styleguide 0.3.39
*/
aside
{

}

/*
section

Represents a generic document or application section. In this context, a section is a thematic grouping of content, typically with a header, possibly with a footer. Examples include chapters in a book, the various tabbed pages in a tabbed dialog box, or the numbered sections of a thesis. A web site's home page could be split into sections for an introduction, news items, contact information.

Markup:
<section>
	<h1>Level 1</h1>
	<section>
	<h1>Level 2</h1>
		<section>
			<h1>Level 3</h1>
		</section>
	</section>
</section>

Styleguide 0.3.40
*/
section
{

}

/*
header

Represents the "header" of a document or section of a document. The header element is typically used to group a set of h1–h6 elements to mark up a page's title with its subtitle or tagline. header elements may, however, contain more than just the section's headings and subheadings — e.g., version history information or publication date.

Markup:
<header>
	<h1>HTML5Doctor.com</h1>
</header>

Styleguide 0.3.41
*/
header
{

}

/*
footer

Represents the "footer" of a document or section of a document. The footer element typically contains metadata about its enclosing section, such as who wrote it, links to related documents, copyright data, etc. Contact information for the section given in a footer should be marked up using the address element.

Markup:
<footer>
	&copy; 2015 HTML5Doctor.com
</footer>

Styleguide 0.3.42
*/
footer
{

}

/*
main

The main element is an exact analogue of ARIA's role="main", and is designed to show screenreaders and assistive technologies exactly where main content begins, so it can be a target for a "skip links" keyboard command, for example. It could also be used for content syndication (Instapaper-ish things); mobile browsers could zoom in on main when encountering non-responsive websites. It should therefore be used once per page. If you use something like <div id="main"> (or similar, such as <div id="content">), simply replace that with <main role="main">.

Markup:
<main role="main">
	...
</main>

Styleguide 0.3.43
*/
main
{

}

/*
address

The address element provides contact information for a document or part of a document. Information provided by address may include the names of the document’s maintainers, links to the maintainers’ Web pages, e-mail addresses for feedback, postal addresses, phone numbers, and so on. The address element is not appropriate for all postal and e-mail addresses; it should be reserved for providing such information about the contact people for the document. @see <a href="http://dev.w3.org/html5/spec/sections.html#the-address-element"><cite>W3C HTML5 specification</cite></a>

Markup:
The HTML5 Doctor is run by the following group of volunteers:
<address>
	<a href="http://html5doctor.com/author/jacko">Jack Osborne</a>,
	<a href="http://html5doctor.com/author/richc">Rich Clark</a>,
	<a href="http://html5doctor.com/author/miker">Mike Robinson</a>,
	<a href="http://html5doctor.com/author/toml">Tom Leadbetter</a>,
	<a href="http://html5doctor.com/author/brucel">Bruce Lawson</a>,
	<a href="http://html5doctor.com/author/remys">Remy Sharp</a>,
	<a href="http://html5doctor.com/author/olib">Oli Studholme</a>
</address>

Styleguide 0.3.44
*/
address
{

}
