/*
Text

Styleguide 0.9
*/

$base-small-print-size			:85% !default;
$mark-background-color			:#f9f9a6 !default;

code,
kbd,
pre,
samp
{
	font-family 				:$base-mono-font-family;
}

/*
em

Represents stress emphasis of its contents. The level of emphasis that a particular piece of content has is given by its number of ancestor em elements. The 'stress' being referred to is linguistic. If spoken, this stress would be emphasised pronunciation on a word that can change the nuance of a sentence.

Markup:
<p>Call a doctor <em>now</em></p>

Styleguide 0.9.1
*/
em
{

}

/*
strong

Represents strong importance for its contents. Indicate relative importance by nesting strong elements; each strong element increases the importance of its contents. Changing the importance of a piece of text with the strong element does not change the meaning of the sentence.

Markup:
<p><strong>Warning</strong>. This dungeon is dangerous. <strong>Avoid the ducks.</strong> Take any gold you find.</p>

Styleguide 0.9.2
*/
strong
{

}

/*
small

Represents side comments such as small print. It is not intended to be presentational. The small element should not be used for extended spans of text such as multiple paragraphs, lists, or sections of text. It is only intended for short runs of text.

Markup:
<footer>
	<address>
		For more details, contact
		<a href="mailto:hello@html5doctor.com">HTML5 Doctor</a>.
	</address>
	<small>&copy; copyright HTML5 Doctor. </small>
</footer>

Styleguide 0.9.3
*/
small
{
	font-size 					:$base-small-print-size;
}

/*
abbr

Represents an abbreviation or acronym. The optional title attribute may be used to provide an expansion of the abbreviation. If specified, the title attribute must contain an expansion of the abbreviation and nothing else.

Markup:
<p>The <abbr title="Web Hypertext Application Technology Working Group">WHATWG</abbr> started working on HTML5 in 2004.</p>

Styleguide 0.9.4
*/
abbr
{
	font-variant 				:small-caps;
	text-transform 				:lowercase;
	font-weight 				:600;

	&[title]
	{
		&:hover
		{
			cursor 				:help;
		}
	}
}

/*
sub

The <code>sub</code> element can be used inside a var element, for variables that have subscripts.

Markup:
<p>H<sub>2</sub>O is the chemical formula for water</p>

Styleguide 0.9.5
*/
sub
{

}

/*
sup

The <code>sup</code> element represents a superscript and the sub element represents a subscript.

Markup:
<p>Today is the 2<sup>nd</sup> of May</p>

Styleguide 0.9.6
*/
sup
{

}

/*
time

Represents a precise date and/or time in the proleptic Gregorian calendar. The time element encodes modern dates and times in a machine-readable way, so that, for example, user agents could offer to add an event to the user's calendar.

Markup:
<time datetime="2007-08-29T13:58Z">August 29th, 2007 at 13:58</time>

Styleguide 0.9.7
*/
time
{

}

/*
code

The <code>code</code> element represents a fragment of computer code. This could be an XML element name, a filename, a computer program, or any other string that a computer would recognize.

Markup:
<p>To get started with HTML5 you just need at this top of your page <code>&lt;!DOCTYPE html&gt;</code></p>

Styleguide 0.9.8
*/

$code-color						:#c7254e;
$code-bg						:#f9f2f4;

code
{
	white-space 				:pre;
	padding						:2px 4px;
	font-size					:90%;
	color						:$code-color;
	background-color			:$code-bg;
	border-radius				:$border-radius-base;
}

/*
span

The span element doesn't mean anything on its own, but can be useful when used together with the global attributes, e.g. class, lang, or dir. It represents its children.

Markup:
<span>This is an example of the span element</span>

Styleguide 0.9.9
*/
span
{

}

/*
br

The br element represents a line break. br elements must be used only for line breaks that are actually part of the content, as in poems or addresses. br elements must not be used for separating thematic groups in a paragraph

Markup:
<br />

Styleguide 0.9.26
*/
br
{

}