$base-small-print-size			:85% !default;
$mark-background-color			:#f9f9a6 !default;

code,
kbd,
pre,
samp
{
	font-family 				:$base-mono-font-family;
}

/*
em

Represents stress emphasis of its contents. The level of emphasis that a particular piece of content has is given by its number of ancestor em elements. The 'stress' being referred to is linguistic. If spoken, this stress would be emphasised pronunciation on a word that can change the nuance of a sentence.

Markup:
<p>Call a doctor <em>now</em></p>

Styleguide 0.3.46
*/
em
{

}

/*
strong

Represents strong importance for its contents. Indicate relative importance by nesting strong elements; each strong element increases the importance of its contents. Changing the importance of a piece of text with the strong element does not change the meaning of the sentence.

Markup:
<p><strong>Warning</strong>. This dungeon is dangerous. <strong>Avoid the ducks.</strong> Take any gold you find.</p>

Styleguide 0.3.47
*/
strong
{

}

/*
i

Represents a span of text in an alternate voice or mood, or otherwise offset from the normal prose, such as a taxonomic designation, a technical term, an idiomatic phrase from another language, a thought, a ship name, or some other prose whose typical typographic presentation is italicized.
Only use i when nothing more suitable is available — e.g., em for text with stress emphasis, strong for text with semantic importance, cite for titles in a citation or bibliography, dfn for defining a word, and var for mathematical variables.

Markup:
<p>The term <i>prose content</i> is defined above.
<i class="taxonomy">Nanotyrannus</i> ("dwarf tyrant") is a genus of tyrannosaurid dinosaur, and is possibly a juvenile specimen of <i class="taxonomy">Tyrannosaurus</i>.</p>

Styleguide 0.3.48
*/
i
{

}

/*
b

Represents a span of text to be stylistically offset from the normal prose without conveying any extra importance. Examples are key words in a document abstract, product names in a review, or other spans of text whose typical typographic presentation is bold.
The b element should be used as a last resort when no other element is more appropriate. In particular, headings should use the h1 to h6 elements, stress emphasis should use the em element, importance should be denoted with the strong element, and text marked or highlighted should use the mark element.

Markup:
<p><b class="character">Deckard</b>: <i class="voiceover">The report would be routine retirement of a replicant which didn't make me feel any better about shooting a woman in the back. There it was again. Feeling, in myself. For her, for Rachael.</i></p>

Styleguide 0.3.49
*/
b
{

}

/*
u

The <code>u</code> element represents a span of text with an unarticulated, though explicitly rendered, non-textual annotation (when you are annotating something, but not explicitly saying what it is). Examples include indicating misspelt words, labeling proper names in traditional Chinese prose, or indicating a family name when the name’s order is non-western

Markup:
<span itemscope itemtype="http://schema.org/Person" lang="ja-latn">
	<u itemprop="familyName">Son</u> <span itemprop="givenName">Goku</span>
</span>

Styleguide 0.3.50
*/
u
{

}

/*
s

The <code>s</code> element represents contents that are no longer accurate or no longer relevant.

Markup:
<p>Sale on now!</p>
<p><s>Get up to 25% off</s></p>
<p><strong>Now down to 50% off</strong></p>

Styleguide 0.3.51
*/
s
{

}

/*
small

Represents side comments such as small print. It is not intended to be presentational. The small element should not be used for extended spans of text such as multiple paragraphs, lists, or sections of text. It is only intended for short runs of text.

Markup:
<footer>
	<address>
		For more details, contact
		<a href="mailto:hello@html5doctor.com">HTML5 Doctor</a>.
	</address>
	<small>&copy; copyright HTML5 Doctor. </small>
</footer>

Styleguide 0.3.52
*/
small
{
	font-size 					:$base-small-print-size;
}

/*
abbr

Represents an abbreviation or acronym. The optional title attribute may be used to provide an expansion of the abbreviation. If specified, the title attribute must contain an expansion of the abbreviation and nothing else.

Markup:
<p>The <abbr title="Web Hypertext Application Technology Working Group">WHATWG</abbr> started working on HTML5 in 2004.</p>

Styleguide 0.3.53
*/
abbr
{
	font-variant 				:small-caps;
	text-transform 				:lowercase;
	font-weight 				:600;

	&[title]
	{
		&:hover
		{
			cursor 				:help;
		}
	}
}

/*
q

The <code>q</code> element represents some phrasing content quoted from another source.

Markup:
<p>And then he said <q>I heart HTML5</q></p>

Styleguide 0.3.54
*/
q
{

}

/*
cite

The <code>cite</code> element represents the title of a work (e.g. a book, a paper, an essay, a poem, a score, a song, a script, a film, a TV show, a game, a sculpture, a painting, a theatre production, a play, an opera, a musical, an exhibition, a legal case report, etc). This can be a work that is being quoted or referenced in detail (i.e. a citation), or it can just be a work that is mentioned in passing.
A person's name is not the title of a work — even if people call that person a piece of work — and the element must therefore not be used to mark up people's names. (In some cases, the b element might be appropriate for names; e.g. in a gossip article where the names of famous people are keywords rendered with a different style to draw attention to them. In other cases, if an element is really needed, the span element can be used.)

Markup:
<p>My favourite book is <cite>Introducing HTML5</cite> by Bruce and Remy</p>

Styleguide 0.3.55
*/
cite
{

}

/*
dfn

The <code>dfn</code> element represents the defining instance of a term. The paragraph, description list group, or section that is the nearest ancestor of the dfn element must also contain the definition(s) for the term given by the dfn element.

Markup:
<p>While they're essential reading material for our job, the <dfn><abbr title="World Wide Web Consortium">W3C</abbr></dfn> specifications are not exactly George R. R. Martin-level reading material.</p>

Styleguide 0.3.56
*/
dfn
{
	&[title]
	{
		&:hover
		{
			cursor 				:help;
		}
	}
}

/*
sub

The <code>sub</code> element can be used inside a var element, for variables that have subscripts.

Markup:
<p>H<sub>2</sub>O is the chemical formula for water</p>

Styleguide 0.3.57
*/
sub
{

}

/*
sup

The <code>sup</code> element represents a superscript and the sub element represents a subscript.

Markup:
<p>Today is the 2<sup>nd</sup> of May</p>

Styleguide 0.3.58
*/
sup
{

}

/*
time

Represents a precise date and/or time in the proleptic Gregorian calendar. The time element encodes modern dates and times in a machine-readable way, so that, for example, user agents could offer to add an event to the user's calendar.

Markup:
<time datetime="2007-08-29T13:58Z">August 29th, 2007 at 13:58</time>

Styleguide 0.3.59
*/
time
{

}

/*
code

The <code>code</code> element represents a fragment of computer code. This could be an XML element name, a filename, a computer program, or any other string that a computer would recognize.

Markup:
<p>To get started with HTML5 you just need at this top of your page <code>&lt;!DOCTYPE html&gt;</code></p>

Styleguide 0.3.60
*/
code
{
	white-space 				:pre;
	padding						:2px 4px;
	font-size					:90%;
	color						:$code-color;
	background-color			:$code-bg;
	border-radius				:$border-radius-base;
}

/*
kbd

The kbd element represents user input (typically keyboard input, although it may also be used to represent other input, such as voice commands).
When the kbd element is nested inside a samp element, it represents the input as it was echoed by the system. When the kbd element contains a samp element, it represents input based on system output, for example invoking a menu item.
When the kbd element is nested inside another kbd element, it represents an actual key or other single unit of input as appropriate for the input mechanism.

Markup:
<p>Mac users: To take a screenshot press <kbd><kbd>Command</kbd>+<kbd>Shift</kbd>+<kbd>3</kbd></kbd></p>

Styleguide 0.3.61
*/
kbd
{
	padding				:2px 4px;
	font-size			:90%;
	color				:$kbd-color;
	background-color	:$kbd-bg;
	border-radius		:$border-radius-small;
	box-shadow			:inset 0 -1px 0 rgba(0,0,0,.25);

	kbd
	{
		padding			:0;
		font-size		:100%;
		font-weight		:bold;
		box-shadow		:none;
	}
}

/*
samp

The <code>samp</code> element represents (sample) output from a program or computing system

Markup:
<pre><samp>mike:mysite mike$ <kbd>git status</kbd>
# On branch master
nothing to commit (working directory clean)
mike:mysite mike$</samp></pre>

Styleguide 0.3.62
*/
samp
{

}

/*
var

The var element represents a variable. This could be an actual variable in a mathematical expression or programming context, or it could just be a term used as a placeholder in prose.

Markup:
<p><var>E</var> energy is equal to <var>m</var> mass multiplied by the <var>c</var> speed of light, squared.</p>

Styleguide 0.3.63
*/
var
{

}

/*
mark

Represents a run of text in one document marked or highlighted because of its relevance in another context.
When used in a quotation or other block of text referenced in a document, it indicates a highlight that was not present in the original document — e.g., a portion of text in an academic publication that has recently come under additional scrutiny.

Markup:
<p>In this sentence we'll be using the mark element. <mark>HTML5</mark> Can you see where it has been used?</p>

Styleguide 0.3.64
*/
mark
{
	color 						:inherit;
	padding 					:2px 4px;
	display 					:inline;
	background-color			:$mark-background-color;
	border-radius				:$border-radius-small;
}

/*
bdi

The bdi element represents a span of text that is to be isolated from its surroundings for the purposes of bidirectional text formatting.

Markup:
<ul>
	<li><bdi>johnsmith</bdi> joined the site</li>
	<li><bdi>the_guru</bdi> posted "February update"</li>
	<li><bdi>????</bdi> commented on "Getting started with HTML5"</li>
</ul>

Styleguide 0.3.65
*/
bdi
{

}

/*
bdo

The bdo element represents explicit text directionality formatting control for its children. It allows authors to override the Unicode bidirectional algorithm by explicitly specifying a direction override.

Markup:
<p><bdo dir="rtl">Don't cheat by reading this in a mirror!</bdo></p>

Styleguide 0.3.66
*/
bdo
{

}

/*
ruby

Represents a container for base text and ruby text — small annotations used for phonetic readings in languages such as Japanese and Chinese. Examples include furigana and zhùyin fúhào (bopomofo).

Markup:
<ruby>??<rp>(</rp><rt>????</rt><rp>)</rp>???<rp>(</rp><rt>?????</rt><rp>)</rp></ruby>

Styleguide 0.3.67
*/
ruby
{

}

/*
rt

Represents a container for ruby text inside a &lt;ruby&gt; element. &lt;rt&gt; content becomes the small annotations rendered by default above horizontal base text or to the right of vertical base text.

Markup:
<ruby>??<rp>(</rp><rt>????</rt><rp>)</rp>???<rp>(</rp><rt>?????</rt><rp>)</rp></ruby>

Styleguide 0.3.68
*/
rt
{

}

/*
rp

Represents a container for parentheses used to wrap ruby text (&lt;rt&gt;) inside a &lt;ruby&gt; element. These are displayed by browsers which don't support &lt;ruby&gt;, allowing for graceful degradation of ruby content. Browsers which support &lt;ruby&gt; hide &lt;rp&gt; via display:none.

Markup:
<ruby>??<rp>(</rp><rt>????</rt><rp>)</rp>???<rp>(</rp><rt>?????</rt><rp>)</rp></ruby>

Styleguide 0.3.69
*/
rp
{

}

/*
span

The span element doesn't mean anything on its own, but can be useful when used together with the global attributes, e.g. class, lang, or dir. It represents its children.

Markup:
<span>This is an example of the span element</span>

Styleguide 0.3.70
*/
span
{

}

/*
br

The br element represents a line break. br elements must be used only for line breaks that are actually part of the content, as in poems or addresses. br elements must not be used for separating thematic groups in a paragraph

Markup:
<br />

Styleguide 0.3.71
*/
br
{

}

/*
wbr

The wbr element represents a line break opportunity. Any content inside wbr elements must not be considered part of the surrounding text.

Markup:
html5<wbr>doctor.com

Styleguide 0.3.72
*/
wbr
{

}
